.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 240px 240px;
  margin: 0 10% 2% 10%;
  padding-right: 2%;
  grid-column-gap:5%;
  grid-row-gap: 13%;
}

.grid-item {
  width: 100%;
  color: #023430;
  height: min-content;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  display: block;
  border-radius: 10px;
  transition: all 1s ease-in;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .grid-item{
    height: 26rem;
  }
}

.item{

  display: none;
  margin-bottom: 10px;
}

.university-item{
  display: none;
  transition: all 1s ease-in;
}

.job-item{
  display: none;
}

.ielts-item{
  display: none;
}

.studentscroll{
  overflow: scroll;
  padding-bottom: 8%;
}

.studentscroll::-webkit-scrollbar{
  background-color: #023430;
  width: 5px;
  height: 0;
}

.studentscroll::-webkit-scrollbar-thumb{
  background-color: #00ed64;
  border-radius: 50px;
  width: 5px;

}

.studentscroll::-webkit-scrollbar-corner{
  background-color: #023430;
}


@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.grid-item img{
  width: 100%;
  vertical-align: middle;

  object-fit: cover;
}

.grid-item:hover{
  border: 1px solid #00ed64;
  transition: all 0.4s ease-in;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.grid-item:hover:after{
  transition: ease-out 0.5s;
}

.img-label{
  margin:0 10% 2% 10%;
  font-weight: bold;
  border-bottom: solid #023430;
}

h2 a{
  float: right;
}

a:hover{
  cursor: pointer;
}

.morevideos{
  display: block;
  height: min-content;
  width: 100%;
  margin: max(3vw,3vh) 0 max(3vw,2vh) 0;
  animation: fade 2s linear forwards;
  transition: all 1s ease-in; /* here */
}

.studentscroll{
  scrollbar-color: #023430 #ffffff;
}


.scrollable-element {
  scrollbar-color: red yellow;
}
/*.p{*/
/*  font-size: 15px;*/
/*}*/
